{% extends 'layout.html' %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col col-md-3 sidebar">
                    <ul class="nav nav-sidebar">
                        <li><a href="{% url 'vd_ft_pullfunds' %}">FundsTransfer PullFunds</a></li>
                        <li><a href="{% url 'vd_ft_pushfunds' %}">FundsTransfer PushFunds</a></li>
                        <li><a href="{% url 'vd_ft_reversefunds' %}">FundsTransfer ReverseFunds</a></li>
                    </ul>
                </div>
                <div class="col col-md-9">
                    <h1>Content</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}