{% extends 'layout.html' %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>Response</h1>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>API</th>
                        <td>{{ result.endpoint}}</td>
                    </tr>
                    <tr>
                        <th>Method</th>
                        <td>{{ result.http_verb}}</td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <td>{{ result.code }}</td>
                    </tr>
                    <tr>
                        <th>Headers</th>
                        <td>{{ result.headers }}</td>
                    </tr>
                    <tr>
                        <th>Message</th>
                        <td>{{ result.message }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}