{% extends 'layout.html' %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h3>Request</h3>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>API</th>
                        <td>{{ result.request.method }} {{ result.request.url }}</td>
                    </tr>
                    <tr>
                        <th>Request Body</th>
                        <td>{{ result.request.body }}</td>
                    </tr>
                </table>
                <div class="page-header">
                    <h3>Response</h3>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Response HTTP Code</th>
                        <td>{{ result.response.code }}</td>
                    </tr>
                    <tr>
                        <th>Response Headers</th>
                        <td>{{ result.response.headers }}</td>
                    </tr>
                    <tr>
                        <th>Response Message</th>
                        <td>{{ result.response.message }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}